<div class="contact-container container-block">
    <ul class="list-unstyled contact-list">
        {% if DATA_PROFILE['info']['email'] %}
        <li class="email"><i class="fas fa-envelope"></i>
            <a href="mailto:{{ DATA_PROFILE['info']['email'] }}">{{ DATA_PROFILE['info']['email'] }}</a>
        </li>
        {% endif %}
        {% if DATA_PROFILE['info']['phone'] %}
        <li class="phone"><i class="fas fa-phone"></i>
            <a href="tel:{{ DATA_PROFILE['info']['phone'] }}">{{ DATA_PROFILE['info']['phone'] }}</a>
        </li>
        {% endif %}
        {% if DATA_PROFILE['info']['address'] %}
        <li class="address"><i class="fas fa-home"></i>
            {{ DATA_PROFILE['info']['address'] }}
        </li>
        {% endif %}
        {% if DATA_PROFILE['info']['driving_license'] %}
        <li class="driving-license"><i class="fas fa-car"></i>
            {{ DATA_PROFILE['info']['driving_license'] }}
        </li>
        {% endif %}
        <hr>
        {% include 'includes/sidebar/contact.html'%}
    </ul>
</div>