{% if DATA_RESUME['education'] %}
<section class="section educations-section">
    <h2 class="section-title">
        <span class="fa-stack fa-xs">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
        </span>
        {{ DATA_RESUME['education']['title'] }}
    </h2>
    {% for graduation in DATA_RESUME['education']['list'] %}
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="degree">{{ graduation['degree'] }}</h3>
                <div class="time">{{ graduation['date'] }}</div>
            </div>
            <div class="university">{{ graduation['university'] }}</div>
        </div>
        {% if graduation['details'] %}
        <div class="details">
            {{ graduation['details'] }}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</section>
{% endif %}